body {
    font-family: Arial, sans-serif;
    background-color: #162130fa;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #00a3c0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    text-align: center;
}

.admin-menu {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.admin-menu a {
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.admin-menu a:hover {
    background-color: #00b150;
}

.admin-content {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.card {
    background-color: #22c24a;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.login-form {
    max-width: 300px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.form-group button {
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    background-color: #333;
    color: #3918cc;
    border: none;
    cursor: pointer;
}